.fretboard {
  position: relative;
  width: calc(145% + 10px);
  background-color: #efefef;
  margin-top: 20px;
  margin-left: 1.5%;
  .string-markers {
    position: absolute;
    height: 100%;
    width: 20px;
    left: -20px;
    .string-marker {
      height: 5px;
      width: 5px;
      border-radius: 2.5px; 
      visibility: hidden;
      opacity: 0;
      position: absolute;
      &.one { top: 5%; }
      &.two { top: 22.5%; }
      &.three { top: 39.5%; }
      &.four { top: 57.5%; }
      &.five { top: 74%; }
      &.six { top: 92%; }
    }
  }
  .nut {
    position: absolute;
    left: -10px;
    width: 10px;
    height: 100%;
    background-color: #d8d8d8;
    z-index: 1;
  }
  .fretboard-butt {
    position: absolute;
    right: -15px;
    top: 0;
    width: 15px;
    height: 100%;
    background-color: #efefef;
    // z-index: 1;
    border-radius: 0 10px 10px 0;
  }
  .strings {
    position: absolute;
    top: 0;
    left: -15px;
    z-index: 2;
    width: calc(100% + 40px);
    height: 100%;
    .string {
      position: relative;
      height: 50%;
      width: 100%;
      &:nth-child(1) { top: -0%; }
      &:nth-child(2) { top: -39%; }
      &:nth-child(3) { top: -84%; }
      &:nth-child(4) { top: -122%; }
      &:nth-child(5) { top: -158%; }
      &:nth-child(6) { bottom: 200%; }
      svg {
        position: absolute; 
        width: 100%;
        height: 100%;
        left: 0;
      }
      .label {
        position: absolute;
        height: 100%;
        width: 2%;
        font-size: 1.4vw;
        left: -2%;
      }
    }
  }
}