.fretboard {
  position: relative;
  // width: calc(145% + 10px);
  user-select: none;
  width: 1800px;
  height: 200px;
  background-color: #efefef;
  margin-top: 20px;
  margin-left: 2%;
  .nut {
    position: absolute;
    left: -10px;
    width: 10px;
    height: 100%;
    background-color: #d8d8d8;
    z-index: 1;
  }
  .frets {
    .fret {
      .label {
        text-align: center;
        left: 4%;
        font-size: 18px;
      }
    }
  }
  .fretboard-butt {
    position: absolute;
    right: -15px;
    top: 0;
    width: 15px;
    height: 100%;
    background-color: #efefef;
    // z-index: 1;
    border-radius: 0 10px 10px 0;
  }
  .strings {
    position: absolute;
    top: 0;
    left: -15px;
    z-index: 2;
    width: calc(100% + 40px);
    height: 100%;
    .string {
      position: relative;
      height: 50%;
      width: 100%;
      &:nth-child(1) { top: -0%; }
      &:nth-child(2) { top: -39%; }
      &:nth-child(3) { top: -84%; }
      &:nth-child(4) { top: -122%; }
      &:nth-child(5) { top: -158%; }
      &:nth-child(6) { bottom: 200%; }
      svg {
        position: absolute; 
        width: 100%;
        height: 100%;
        left: 0;
      }
    }
  }
}