.fretboard {
  position: relative;
  width: calc(150% + 10px);
  background-color: #efefef;
  margin-top: 20px;
  .string-markers {
    position: absolute;
    height: 100%;
    width: 20px;
    // background-color: red;
    // display: none;
    left: -20px;
    // border-radius: 1px solid green;
    .string-marker {
      height: 5px;
      width: 5px;
      // background-color: red;
      border-radius: 2.5px; 
      visibility: hidden;
      opacity: 0;
      position: absolute;
      &.one {
        visibility: visible;
        top: 5%;
      }
      &.two {
        visibility: visible;
        top: 22.5%;
      }
      &.three {
        visibility: visible;
        top: 39.5%;
      }
      &.four {
        visibility: visible;
        top: 57.5%;
      }
      &.five {
        visibility: visible;
        top: 74%;
      }
      &.six {
        visibility: visible;
        top: 92%;
      }
    }
  }
  .nut {
    position: absolute;
    left: -10px;
    width: 10px;
    height: 100%;
    background-color: #d8d8d8;
    z-index: 1;
  }
  .fretboard-butt {
    position: absolute;
    right: -15px;
    top: 0;
    width: 15px;
    height: 100%;
    background-color: #efefef;
    // z-index: 1;
    border-radius: 0 10px 10px 0;
  }
  .strings {
    position: absolute;
    top: 0;
    left: -15px;
    z-index: 2;
    width: calc(100% + 40px);
    height: 100%;
    .string {
      position: relative;
      // height: 16.66%;
      height: 50%;
      width: 100%;
      &:nth-child(1) {
        top: -0%;
        // background-color: #bae0cd;
        // background-color: rgba(186, 224, 205, 0.5);
      }
      &:nth-child(2) {
        top: -39%;
        // background-color: #dfb9b9;
        // background-color: rgba(186, 224, 205, 0.5);
      }
      &:nth-child(3) {
        top: -84%;
        // visibility: hidden;
        // background-color: #dfd6b9;
        // background-color: rgba(186, 224, 205, 0.5);
      }
      &:nth-child(4) {
        top: -122%;
        // visibility: hidden;
        // background-color: #bae0cd;
        // background-color: rgba(186, 224, 205, 0.5);
      }
      &:nth-child(5) {
        top: -158%;
        // background-color: rgba(186, 224, 205, 0.5);
        // visibility: hidden;
        // background-color: #b9b9df;
      }
      &:nth-child(6) {
        bottom: 200%;
        background-color: rgba(186, 224, 205, 0.5);
        // visibility: hidden;
        // background-color: #ccb9df;
      }
      svg {
        position: absolute; 
        width: 100%;
        height: 100%;
        left: 0;
      }
      .label {
        position: absolute;
        height: 100%;
        width: 2%;
        font-size: 1.4vw;
        left: -2%;
      }
    }
  }
}