.page-layout {
  background-color: #000;
  height: 100vh;
  .navbar {
    display: flex;
    flex-direction: row;
    font-size: 40px;
    color: #fff;
    .logo {
      display: flex;
      padding: 10px;
    }
  }
  .page-content {
    padding-left: 4%;
    padding-right: 4%;
  }
}
