.page-layout {
  // padding-left: 5%;
  // padding-right: 5%;
  .navbar {
    text-align: center;
    font-size: 40px;
  }
  .page-content {
    padding-top: 2rem;
    padding-left: 4%;
    padding-right: 4%;
  }
}
